In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('employees.db')

In [3]:
cursor = con.cursor()

In [4]:
cursor.execute("CREATE TABLE HR(id integer PRIMARY KEY, name text, status text, salary real, department text, position text, hireDate text)")
con.commit()

In [6]:
counter = True
while counter:
    user_id = int(input('Enter your ID: '))
    name = input('Enter your name: ')
    status = input('Enter your status')
    salary = float(input('Enter your salary: '))
    department = input('Enter your department: ')
    position = input('Enter your position: ')
    date = input('Enter date "YYYY-M-D": ')
    entities = (user_id,name,status,salary,department,position,date)
    cursor.execute("INSERT INTO HR(id,name,status,salary,department,position,hireDate) VALUES(?,?,?,?,?,?,?)",entities)
    con.commit()
    print('Data has been inserted!!!')
    print('Do you want to continue?')
    value = int(input("Enter 1 to continue and 0 to quit"))
    if value == 1:
        pass
    elif value == 0:
        print('Thank you!!')
        counter = False
    else:    
        break

Enter your ID: 10
Enter your name: Mary A
Enter your statusYes
Enter your salary: 800
Enter your department: IT
Enter your position: Data analyst
Enter date "YYYY-M-D": 2021-07-09
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit1
Enter your ID: 09
Enter your name: Emeto W
Enter your statusyes
Enter your salary: 900
Enter your department: DS
Enter your position: facilitator
Enter date "YYYY-M-D": 2021-07-10
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit1
Enter your ID: 08
Enter your name: Chinenye V
Enter your statusyes
Enter your salary: 900
Enter your department: IT
Enter your position: data scientist
Enter date "YYYY-M-D": 2021-08-09
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit1
Enter your ID: 07
Enter your name: Fanny A
Enter your statusNo
Enter your salary: 600
Enter your department: Admin
Enter your position: Administrator
Enter date "YYYY-M-D": 2021-09-09
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit0
Thank you!!

In [9]:
cursor.execute('SELECT * FROM HR')
rows = cursor.fetchall()

In [13]:
for row in rows:
    print(row)
    print(row[0])

(7, 'Fanny A', 'No', 600.0, 'Admin', 'Administrator', '2021-09-09')
7
(8, 'Chinenye V', 'yes', 900.0, 'IT', 'data scientist', '2021-08-09')
8
(9, 'Emeto W', 'yes', 900.0, 'DS', 'facilitator', '2021-07-10')
9
(10, 'Mary A', 'Yes', 800.0, 'IT', 'Data analyst', '2021-07-09')
10
(12, 'Ogo Kate', 'Yes', 700.0, 'IT', 'scientist ', '2021-07-07')
12

In [12]:
mylist = []

In [14]:
for row in rows:
    mylist.append({'id':row[0], 'name':row[1], 'status':row[2], 'salary':row[3], 'department':row[4], 'position':row[5], 'data':row[6]})

In [15]:
print(mylist)

[{'id': 7, 'name': 'Fanny A', 'status': 'No', 'salary': 600.0, 'department': 'Admin', 'position': 'Administrator', 'data': '2021-09-09'}, {'id': 8, 'name': 'Chinenye V', 'status': 'yes', 'salary': 900.0, 'department': 'IT', 'position': 'data scientist', 'data': '2021-08-09'}, {'id': 9, 'name': 'Emeto W', 'status': 'yes', 'salary': 900.0, 'department': 'DS', 'position': 'facilitator', 'data': '2021-07-10'}, {'id': 10, 'name': 'Mary A', 'status': 'Yes', 'salary': 800.0, 'department': 'IT', 'position': 'Data analyst', 'data': '2021-07-09'}, {'id': 12, 'name': 'Ogo Kate', 'status': 'Yes', 'salary': 700.0, 'department': 'IT', 'position': 'scientist ', 'data': '2021-07-07'}]

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame(mylist)

In [18]:
print(df)

   id        name status  salary department        position        data
0   7     Fanny A     No   600.0      Admin   Administrator  2021-09-09
1   8  Chinenye V    yes   900.0         IT  data scientist  2021-08-09
2   9     Emeto W    yes   900.0         DS     facilitator  2021-07-10
3  10      Mary A    Yes   800.0         IT    Data analyst  2021-07-09
4  12    Ogo Kate    Yes   700.0         IT      scientist   2021-07-07