In [11]:
import pymongo

In [12]:
myclient = pymongo.MongoClient('mongodb://localhost:27017') #initializing a mongodb connection #default

In [13]:
mydb = myclient['employees'] #createsadatabase called employees

In [14]:
mycol = mydb['transactions'] #creates a table(collection) called transactions

In [15]:
columns = ["id","name","product","amount","saleprice","status","date"]

In [16]:
mydict = {"_id":"001","name":"Mary A","product":"book","amount":"900","saleprice":"15","status":"sold","date":"2021-07-08"}
x = mycol.insert_one(mydict)

In [17]:
counter = True
while counter:
    user_id = input("Id: ")
    name = input("Name: ")
    product= input("Product: ")
    amount = int(input("Amount: "))
    saleprice = float(input("Saleprice: "))
    status = input("Status: ")
    date = input("Date YYYY-M-D: ")
    
    mydict = {"_id":user_id,"name":name,"product":product,"amount":amount,"saleprice":saleprice,"status":status,"date":date}
    x = mycol.insert_one(mydict)
    
    print('Data has been inserted!!!')
    print('Do you want to continue?')
    value = int(input("Enter 1 to continue and 0 to quit: "))
    if value == 1:
        pass
    elif value == 0:
        print('Thank you!!')
        counter = False
    else:
        break

Id: 002
Name: Anita M
Product: Shoes
Amount: 80
Saleprice: 20
Status: sold
Date YYYY-M-D: 2021-07-08
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit: 1
Id: 003
Name: Winner
Product: Laptops
Amount: 70
Saleprice: 700
Status: sold
Date YYYY-M-D: 2021-07-08
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit: 1
Id: 004
Name: Habiba
Product: Makeup
Amount: 30
Saleprice: 15
Status: sold
Date YYYY-M-D: 2021-07-08
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit: 0
Thank you!!

In [38]:
x = mycol.find()
x

In [37]:
for data in x:
    print(data)

{'_id': '002', 'name': 'Anita M', 'product': 'Shoes', 'amount': 80, 'saleprice': 20.0, 'status': 'sold', 'date': '2021-07-08'}
{'_id': '003', 'name': 'Winner', 'product': 'Laptops', 'amount': 70, 'saleprice': 700.0, 'status': 'sold', 'date': '2021-07-08'}
{'_id': '004', 'name': 'Habiba', 'product': 'Makeup', 'amount': 30, 'saleprice': 15.0, 'status': 'sold', 'date': '2021-07-08'}

In [39]:
mylist = []

In [40]:
for data in x:
    mylist.append(data)
    print(data)

{'_id': '002', 'name': 'Anita M', 'product': 'Shoes', 'amount': 80, 'saleprice': 20.0, 'status': 'sold', 'date': '2021-07-08'}
{'_id': '003', 'name': 'Winner', 'product': 'Laptops', 'amount': 70, 'saleprice': 700.0, 'status': 'sold', 'date': '2021-07-08'}
{'_id': '004', 'name': 'Habiba', 'product': 'Makeup', 'amount': 30, 'saleprice': 15.0, 'status': 'sold', 'date': '2021-07-08'}

In [41]:
print(mylist)

[{'_id': '002', 'name': 'Anita M', 'product': 'Shoes', 'amount': 80, 'saleprice': 20.0, 'status': 'sold', 'date': '2021-07-08'}, {'_id': '003', 'name': 'Winner', 'product': 'Laptops', 'amount': 70, 'saleprice': 700.0, 'status': 'sold', 'date': '2021-07-08'}, {'_id': '004', 'name': 'Habiba', 'product': 'Makeup', 'amount': 30, 'saleprice': 15.0, 'status': 'sold', 'date': '2021-07-08'}]

In [27]:
import pandas as pd

In [42]:
df = pd.DataFrame(mylist)

In [43]:
df

   _id     name  product  amount  saleprice status        date
0  002  Anita M    Shoes      80       20.0   sold  2021-07-08
1  003   Winner  Laptops      70      700.0   sold  2021-07-08
2  004   Habiba   Makeup      30       15.0   sold  2021-07-08

In [44]:
df['total'] = df['amount'] * df['saleprice']

In [45]:
df

   _id     name  product  amount  saleprice status        date    total
0  002  Anita M    Shoes      80       20.0   sold  2021-07-08   1600.0
1  003   Winner  Laptops      70      700.0   sold  2021-07-08  49000.0
2  004   Habiba   Makeup      30       15.0   sold  2021-07-08    450.0